h1{
    color: brown;
}
body{
    background-color: pink;
}
body{
    text-align:center;
}
h4{
    color: aqua;
}
:double-button{
    color: chartreuse;
}
h2{
    text-align: center;
    color: blue;
}